.container {
   margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: space-evenly;
  flex-direction: row ;
  align-items: stretch;
}

.item {
  width: 32%;
  /*padding-bottom: 32%;  Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  flex-shrink: 3;
  align-self: flex-start ;
}



