<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="mystyle.css">
    <title>Form</title>
<!--    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">-->
  </head>    
 
  <body>
    <div class="topnav">
        <a th:href="@{/home}">Home</a>
     
      <a th:href="@{/clients}">All Clients</a>
    </div>   
    <div class="login-box">
      <h2> Adding Client </h2>
      
      <form method="post" th:object="${client}" th:action="@{/submit}"> 
        <div class="user-box"> 
        <input type="text" placeholder="Name" th:field="*{name}" required="required" 
                       oninvalid="this.setCustomValidity('Name must be filled')"
                       oninput="setCustomValidity('')">
        <label>Name</label>
      </div> 
        <div class="user-box">
        <input type="text" placeholder="Address" th:field="*{address}">  
        <label>Address</label>
      </div> 
        <div class="user-box">
        <input type="text" placeholder="E-mail" th:field="*{email}" required="required" 
                       oninvalid="this.setCustomValidity('E-mail must be filled')"
                       oninput="setCustomValidity('')">
        <label>E-mail</label>
      </div> 
        <input type="hidden" th:field="*{id}">
        <br><br>
        <a href="#">
            <input type="submit" value=" Push me ">
 
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
</body>
</html>






























<!--<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
        <a th:href="@{/}">Home</a>
      <a th:href="@{/}">Form</a>
      <a th:href="@{/clients}">All Clients</a>
    </div>   
    <div class="container">
      <h2> Adding Client </h2>
      
      <form method="post" th:object="${client}" th:action="@{/submit}"> 
        <input type="text" placeholder="Name" th:field="*{name}">
        <input type="text" placeholder="address" th:field="*{address}">  
        <input type="text" placeholder="email" th:field="*{email}">
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>


-->
