<!DOCTYPE html>



<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>pelaths</div>
        
        <tbody>
            <tr th:each="tade : ${tade}">
                <td th:text="${tade.id}">Client ID</td>
                   <br><br>
                <td th:text="${tade.name}">Name</td>
                   <br><br>
                <td th:text="${tade.address}">Brand</td>
                   <br><br>
                <td th:text="${tade.email}">Made in</td>
                   <br><br>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </body>
</html>
